{% extends 'layout.html' %}

<!-- MAIN -->
{% block main %}
<h1>Ingresar Gastos</h1><br><br><br>
<div>
    <div class="field">
            <form action="/gastos" method="POST">
              <input type="date" name="fecha" id="fecha" placeholder="fecha"><br><br>
              Concepto<input class="input is-medium" type="text" name="concepto" id="concepto" />
              Valor<input class="input is-medium" type="number" min="0" step="any" value=""name="valor" id="valor" />
              <div class="control">
                <button class="button is-primary" type="submit">GRABAR</button>
              </div>
            </form>
            <form action="/" method="POST">
                <button class="button is-primary" type="submit">SALIR</button>
              </div>
            </form>
        <h3>{{ mensaje }}</h3>
    </div>

</div>


{% endblock %}

