{% extends 'layout.html' %}

<!-- MAIN -->
{% block main %}
<h1>Informe de Gastos</h1><br><br><br>
<div>
    <div class="field">
        <div class="control">
            <form action="/informe" method="POST">

              <!-- Que mes desea ver :<input type="number" name="mesinfo" id="mesinfo"/> -->
              <label for="mesinfo">Mes</label>
              <select name="mesinfo" id="mesinfo">
                <option value="1" {% if mesactual == 1 %}selected{% endif %}>Enero</option>
                <option value="2" {% if mesactual == 2 %}selected{% endif %}>Febrero</option>
                <option value="3" {% if mesactual == 3 %}selected{% endif %}>Marzo</option>
                <option value="4" {% if mesactual == 4 %}selected{% endif %}>Abril</option>
                <option value="5" {% if mesactual == 5 %}selected{% endif %}>Mayo</option>
                <option value="6" {% if mesactual == 6 %}selected{% endif %}>Junio</option>
                <option value="7" {% if mesactual == 7 %}selected{% endif %}>Julio</option>
                <option value="8" {% if mesactual == 8 %}selected{% endif %}>Agosto</option>
                <option value="9" {% if mesactual == 9 %}selected{% endif %}>Septiembre</option>
                <option value="10" {% if mesactual == 10 %}selected{% endif %}>Octubre</option>
                <option value="11" {% if mesactual == 11 %}selected{% endif %}>Noviembre</option>
                <option value="12" {% if mesactual == 12 %}selected{% endif %}>Diciembre</option>
              </select>
               <label for="anoinfo">Año</label>
              <input type="number" id="anoinfo" name="anoinfo" min="1900" max="2050" value={{ anoactual }} >
              
              <div>
               <button class="button is-primary" type="submit">MOSTRAR</button>
              </div>
            </form>
        </div>
      <h3>{{ mensaje }}</h3>
    </div>
</div>

{% endblock %}